---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Possuo habilidades em desenvolvimento Front-end com as tecnologias do
    ecossistema <strong>React</strong>, isso inclui — <strong
      >Next.js, Tailwind CSS, Tanstack Query, Auth.js (NextAuth) —</strong
    >. Tive contato também com tecnologias do ecossistema Python em BI, como: <strong
      >Streamlit</strong
    >, <strong>Pandas.</strong>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educação</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Rocketseat - Formação React.js"
      subtitle="2021 até 2022"
    />
    <TimeLineElement
      title="Rocketseat - Formação React.js"
      subtitle="2021 até 2022"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <i>Em busca da primeira experiência</i>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificações</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        class="after:content-['_🔗']"
        href="https://app.rocketseat.com.br/certificates/c0f4196c-70cf-4530-8011-382b5c1f8e2c"
        target="_blank"
      >
        Rocketseat - Formação React.js</a
      >
    </li>
    <li>
      <a
        class="after:content-['_🔗']"
        href="https://app.rocketseat.com.br/certificates/db35ae0f-4cde-45f3-ac51-c6ed45d0f2a9"
        target="_blank"
      >
        Rocketseat - NLW Expert de React.js</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades (Hard Skills)</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>React.js</li>
    <li>Next.js</li>
    <li>Tailwind CSS</li>

    <li>Tanstack Query</li>
    <li>Auth.js</li>
    <li>Jest</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades (Soft Skills)</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>React.js</li>
    <li>Next.js</li>
    <li>Tailwind CSS</li>

    <li>Tanstack Query</li>
    <li>Auth.js</li>
    <li>Jest</li>
  </ul>
</BaseLayout>
